<div class="app-container">
  <div class="container" align="center">
    <h2 class="main-title">Hearthstone Battleground Ordering Simulator</h2>
    <!-- <hr class="separator" /> -->
    <hr />
    <div>
      <div class="board-title-container">
        <h5 class="board-title">Enemy Board</h5>
        <div class="row justify-content-md-center">
          <div class="col-12 col-lg-5">
            <button
              class="btn btn-secondary shadow"
              (click)="addEnemyCard()"
              [disabled]="loading"
            >
              Add Enemy Card
            </button>
          </div>
        </div>
      </div>

      <br />
      <div
        class="row justify-content-md-center"
        dragula="DRAGULA_ENEMY"
        [(dragulaModel)]="enemyCards"
      >
        <div class="col enemy-board" *ngFor="let cardItem of enemyCards">
          <app-card
            [cardItem]="cardItem"
            [loading]="loading"
            (cardNameChange)="updateEnemyCardName($event)"
            (removeCardEvent)="onRemoveEnemyCard($event)"
            (cardAttackChange)="updateEnemyCardAttack($event)"
            (cardHealthChange)="updateEnemyCardHealth($event)"
            (effectToggle)="toggleEnemyCardEffect($event)"
          ></app-card>
        </div>
        <div class="empty-board col-12" *ngIf="enemyCards.length == 0">
          <div (click)="addEnemyCard()">
            Enemy Board - Currently Empty. Click to add a card
          </div>
        </div>
      </div>

      <!-- <hr class="separator" /> -->
      <hr />
      <div class="board-title-container">
        <h5 class="">Player Board</h5>

        <div class="col-12 col-lg-5">
          <button
            class="btn btn-secondary shadow"
            (click)="addPlayerCard()"
            [disabled]="loading"
          >
            Add Player Card
          </button>
        </div>
      </div>

      <br />

      <div
        class="row justify-content-md-center"
        dragula="DRAGULA_PLAYER"
        [(dragulaModel)]="playerCards"
      >
        <div class="col player-board" *ngFor="let cardItem of playerCards">
          <app-card
            [cardItem]="cardItem"
            [loading]="loading"
            (cardNameChange)="updatePlayerCardName($event)"
            (removeCardEvent)="onRemovePlayerCard($event)"
            (cardAttackChange)="updatePlayerCardAttack($event)"
            (cardHealthChange)="updatePlayerCardHealth($event)"
            (effectToggle)="togglePlayerCardEffect($event)"
            class="playerCard"
          ></app-card>
        </div>
        <div class="empty-board col-12" *ngIf="playerCards.length == 0">
          <div (click)="addPlayerCard()">
            Player Board - Currently Empty. Click to add a card
          </div>
        </div>
      </div>

      <hr />

      <div class="row container justify-content-md-center">
        <div class="col-6 col-lg-4">
          <button
            class="btn btn-secondary shadow"
            (click)="runBattle()"
            [disabled]="loading"
          >
            Simulate Battle
          </button>
        </div>

        <div class="col-6 col-lg-4">
          <button
            class="btn btn-secondary shadow"
            (click)="runBestOrdering()"
            [disabled]="loading"
          >
            Simulate Battle & Best Ordering
          </button>
        </div>
      </div>

      <br />

      <div class="board-title-container">
        <p>
          This board state currently has the values
          <span class="statnum shadow">win: {{ this.winRate }}%</span>,&nbsp;
          <span class="statnum shadow">loss: {{ this.lossRate }}%</span>,&nbsp;
          <span class="statnum shadow">Draw: {{ this.drawRate }}%</span>
          <br />

          Averaging a value of
          <span class="statnum shadow">{{ this.value }}</span> over 1000
          simulations
        </p>
      </div>

      <div class="spinner-border text-info" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>

      <div class="board-title-container" *ngIf="!loading">
        <p>
          The best simulated ordering is:
          <span *ngFor="let cardName of bestOrderingOrder">
            <span class="statnum shadow">{{ cardName }}</span>
          </span>
          With
          <span class="statnum shadow"
            >win: {{ this.bestOrderingWinRate }}%</span
          >,&nbsp;
          <span class="statnum shadow"
            >loss: {{ this.bestOrderingLossRate }}%</span
          >,&nbsp;
          <span class="statnum shadow"
            >Draw: {{ this.bestOrderingDrawRate }}%</span
          >&nbsp;
          <br />
          Averaging a value of
          <span class="statnum shadow">{{
            this.bestOrderingValue == undefined ? -1 : this.bestOrderingValue
          }}</span
          >&nbsp;over {{ this.numberOfOrderingSimulations }} simulations
        </p>
        <!-- <p *ngIf="numberOfOrderingSimulations < 1000" class="warning">
          &#x2a;Due to high computation required, number of simulations have
          been reduced and may be inaccurate for this board state
        </p> -->
      </div>

      <!-- <hr class="separator" /> -->
    </div>
  </div>
</div>
